/* Reset some default styles for the navbar */
body {
    margin: 0;
    padding: 0;
    
  }
  
  .form-container{
    background: #ffffff;
    width: 400px;
    height: 250px;
    border-radius: 10px;    
    
  }
  .totaldiv{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .main-home-div{
    height: 100vh;
    background: whitesmoke;
    margin: 0;
  }
  .topborder{
    background-color:  #5f0e0e;
    height: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
  }
  .pcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .ptcontainer{
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 10px;
    
  }
  .enrolled{
    color: #ffffff;
  }