/* table.css */


.table {
    width: 90%;
    border-collapse: collapse;
    margin: 20px auto; /* Center the table horizontally */
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow: hidden;
    overflow-x: auto; /* Allow horizontal scrolling if needed */
  }
  
  /* rest of your styles... */
  
  
  /* rest of your styles... */
  
  
  thead {
    background-color: #5c1010;
    color: white;
  }
  
  th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  tbody tr:hover {
    background-color: #f5f5f5;
  }
  
  .addbtn-container {
    margin-top: 20px;
  }
  
  .addbtn {
    background-color: #5c1010;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
  
    /* Add the following styles to position the button */
    position: absolute;
    top: 90px;
    right: 20px;
  }
  
  
  
  .addbtn:hover {
    background-color: #27ae60;
  }
  