.modaldiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%; /* Adjust width as needed */
  max-width: 700px; /* Set maximum width */
  height: 90%; /* Adjust height as needed */
  max-height: 900px; /* Set maximum height */
  margin: 0 auto;
  background-color: white;
  z-index: 1;
  pointer-events: auto;
}

.webcam-content {
  margin: 5px; /* Add margin as needed */
}



.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #555;
}

.header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.webcam-container {
  width: 300px;

  margin: 0 auto; /* Center horizontally */
}

.scan-button {
  padding: 10px 20px;
  min-width: 150px; /* Set a fixed minimum width */
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.modal-content2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  height: auto; /* Change to auto height */
  width: 80%; /* Adjust width as needed */
  max-width: 700px; /* Add max-width for responsiveness */
  margin-top: 30px; /* Adjust top margin as needed */
}

.modal-content2 p {
  margin: 5px 0; /* Adjust the margin as needed */
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.user-image {
  text-align: center;
  margin-bottom: 0px;
}

.user-image img {
  margin-bottom: 20px;
  width: 400px; /* Adjust the width as needed */
  height: 500px; /* Adjust the height as needed */
  border-radius: 50%; /* Make the image circular */
  object-fit: cover;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}
.modal-content2 table td {
  text-align: center;
  padding: 10px; /* Add padding to space out the content inside cells */
  border: 1px solid #ddd; /* Add border to create the lines */
  font-weight: bold;
}
.modal-content2 table.student-table td {
  text-align: center;
  padding: 10px; /* Add padding to space out the content inside cells */
}
.modal-content2 table tr {
  border: 1px solid #ddd; /* Add border to create the lines */
}

.modal-content2 table tr:last-child {
  border-bottom: none; /* Remove border from the last row to avoid double lines */
}
.student-list-button {
  padding: 10px 20px;
  min-width: 150px; /* Set a fixed minimum width */
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  
}
  
.student-list-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 999;
  display: flex; /* Use flexbox */
  flex-direction: column; /* Arrange children in a column */
  align-items: center; /* Center horizontally */
}

.student-list-modal h2 {
  margin-top: 0;
  margin-bottom: 15px; /* Add margin to separate from table */
}

.student-list-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 15px; /* Add margin to separate from close button */
}

.student-list-table th,
.student-list-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.student-list-table th {
  background-color: #5c1010;
  color: white; /* Add text color for table header */
}

.student-list-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.student-list-table tr:hover {
  background-color: #f2f2f2;
}

.send-sms-button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #5c1010;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.send-sms-button:hover {
  background-color: #5c1010;
}

.close-button {
  background-color: #5c1010;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: auto; /* Push the close button to the bottom */
}
.scan-timeout{
  padding: 10px 20px;
  min-width: 150px; /* Set a fixed minimum width */
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 20px;
}
